<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MURA2</display-name>

<!--   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> -->

	<!-- CKFINDER START -->
	<servlet>
	  <servlet-name>ConnectorServlet</servlet-name>
	  <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
	  <init-param>
	      <param-name>XMLConfig</param-name>
	      <param-value>/WEB-INF/config.xml</param-value>
	  </init-param>
	  <init-param>
	      <param-name>debug</param-name>
	      <param-value>false</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	  
	<servlet-mapping>
	  <servlet-name>ConnectorServlet</servlet-name>
	  <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
	</servlet-mapping>  
	<!-- CKFINDER END -->


	<filter> <!-- 이 필터를 거친 후 밑에 필터가 있다면 그 필터를 거친다 (필터체인 이렇게 일어남) -->
	  <filter-name>EncodingFilter</filter-name>
	  <filter-class>com.filter.CharacterEncodingFilter</filter-class>
	  <init-param>
	    <param-name>encoding</param-name>
	    <param-value>UTF-8</param-value> <!--나중에 이 값만 바꾸면 됨  -->
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>EncodingFilter</filter-name>
	  <url-pattern>/*</url-pattern> <!-- 모든 -->
	</filter-mapping>

  	<servlet>
		<servlet-name>RecipeController</servlet-name>
		<servlet-class>recipe.controller.ControllerAction</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>Command.properties</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RecipeController</servlet-name>
		<url-pattern>*.mur</url-pattern>
	</servlet-mapping>
  
</web-app>